// Layouts
body
    margin  1vh 0
    display flex

#main-container
    box-sizing border-box
    margin     0 auto
    padding    1em
    max-width  60em
    min-height 98vh

h1
    margin  0 0 1em 0
    padding .5em

ul
    margin          0
    padding         0
    list-style-type none

li
    text-align center
    padding    2em 0


// Fonts
body
    font 1em/1.5 sans-serif


// Styles
body
    background-color #333

#main-container
    background-color #ccc
    box-shadow       0 0 10px #111
    border           1px solid #111

h1
    text-align    center
    border-bottom 1px solid #333

li button
    cursor pointer
