// Layouts
body
    margin 0
    min-height 100vh
    display flex
    flex-direction column

main
    flex 1
    box-sizing border-box
    margin     1em auto
    padding    1em
    max-width  60em

header
    margin  0
    padding .5em

nav
    margin-bottom 1em

    li
        display inline
        padding 0 1em

    i
        padding-right .5em

ul
    margin          0
    padding         0
    list-style-type none

li
    text-align center
    padding    0 0 2em

.demo
    pre
        padding .5em 1em
        overflow-x auto


// Fonts
body
    font 1em/1.5 sans-serif


// Styles
body
    background-color #fff
    color #333
    font 1em/1.5 Lato, sans-serif

a
    color #4183C4
    font-weight     bold
    text-decoration none

    &:hover
        text-decoration underline

main
    background-color #fff
    box-shadow       0 0 10px #ddd
    border           1px solid #ddd
    border-radius    .2875rem

header
    border-bottom    1px solid #E5E5E5
    background-color #f5f5f5
    text-align       center

nav
    i
        color #333

.demo
    border-top 1px solid #E5E5E5

li
    button
        cursor pointer

.demo
    pre
        border           1px solid #E5E5E5
        border-radius    .3125rem
        background-color #F8F8F8
        text-align left
